/* General Styles */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   body {
     background-image: url("img.png");
     /* background-color: #cccccc; */
     /* background: url("img1.jpg") no-repeat; */
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     /* background-color: #f0f4f8; */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-size: cover;
     background-position: center;
     overflow: hidden;
   }

   h1 {
     font-size: 2rem;
     color: #ffffff;
     margin-bottom: 20px;
     opacity: 0;
     transform: translateY(100%);
     animation: slideUp 1s forwards ease-out;
     animation-delay: 0.5s; /* H1 appears first with a delay */
   }

   form {
     padding: 40px;
     border-radius: 10px;
     text-align: center;
     width: 100%;
     max-width: 500px;
   }

   @keyframes slideUp {
     0% {
       opacity: 0;
       transform: translateY(100%);
     }
     100% {
       opacity: 1;
       transform: translateY(0);
     }
   }

   input[type="text"] {
     width: 100%;
     padding: 10px 15px;
     margin-top: 10px;
     margin-bottom: 20px;
     font-size: 1rem;
     border: 2px solid #ffffff;
     border-radius: 25px;
     outline: none;
     box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease;
     opacity: 0;
     transform: translateY(100%);
     animation: slideUp 1s forwards ease-out;
     animation-delay: 1.5s; /* Input appears after H1 */
   }

   input[type="text"]:focus {
     border-color: #ffffff;
     box-shadow: 0 0 8px rgba(0, 120, 212, 0.4);
   }

   button {
     background-color: #ffffff;
     color: #000000;
     font-size: 1.1rem;
     padding: 12px 20px;
     border: none;
     border-radius: 25px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     opacity: 0;
     transform: translateY(100%);
     animation: slideUp 1s forwards ease-out;
     animation-delay: 3s; /* Button appears last */
   }

   button:hover {
     background-color: #ffffff;
   }

   @media (max-width: 768px) {
     h1 {
       font-size: 1.5rem;
     }

     form {
       padding: 20px;
     }

     button {
       width: 100%;
     }
   }
   #card {
     padding: 30px 50px 30px 50px;
     background: rgba(244, 218, 184, 0.27);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(6px);
     -webkit-backdrop-filter: blur(5px);
     border: 2px solid rgba(244, 218, 184, 0.3);
   }